body {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", "Arial" sans-serif;
}

h1 {
  font-size: 30px;
  line-height: auto;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", "Arial" sans-serif;
}

h2 {
  font-size: 30px;
  line-height: auto;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", "Arial" sans-serif;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  
  /* для оформления схемы */
  background: rgba(255, 191, 0, 0.5);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ------------ HEADER ------------ */
.main-header {
  margin-bottom: 60px;
  
  /* для оформления схемы */
  background: rgba(255, 186, 255, 1);
}

.main-navigation {
  float: left;
  width: 700px;
  padding: 15px 0px;

  /* для оформления схемы */
  background: rgba(255, 186, 255, 0.5);
}

ul {
   list-style-type: none;
}
li {
  display: inline-block;
} 

.button {
  text-decoration: none;
}

/* тут все пункты меню не помещаются в ряд. но , предполагаю, когда задам шрифты для них, ширина блоков уменьшится и они встанут в одну строку 
а еще не прижимаются до конца к левому краю контейнера */
.main-navigation li {
  margin-right: 40px; 
  background: black;
}

.user-block {
  float: right;
  width: 70px;
  padding: 15px 0px;

  /* для оформления схемы */
  background: rgba(255, 186, 255, 0.5);
}

/* ------------ MAIN (CATALOG)------------ */
.catalog-header {

  /* для оформления схемы */
  background: rgba(13, 186, 255, 0.5);
}

.catalog-sidebar {
  float: left;
  width: 220px; 
  margin-right: 20px;

  /* для оформления схемы */
  background: rgba(13, 186, 255, 0.5);
}

.catalog-content {
  float: right;
  width: 700px;

  /* для оформления схемы */
  background: rgba(13, 186, 255, 0.5);
}

.item {
  display: inline-block;
  width: 220px;
  margin-right: 17px;
  vertical-align: top;
  
  background: rgba(215, 127, 173, 0.4);
}

.item:nth-of-type(3n) {
  margin-right: 0px;
} 

.paginator {
  float: left;
  min-width:  194px;
  margin-top: 26px;
  margin-left: 0px;
  margin-bottom: 47px;
}

.paginator li {
  min-width: 43px;
  height: 43px;
  padding-right: 8px;
  background: black;
}

/* ------------ MAIN (ITEM)------------ */
.item-header {
  width: 940px;

  /* для оформления схемы */
  background: rgba(13, 186, 255, 0.5);
}

.left-col {
  float: left;
  width: 460px;

  /* для оформления схемы */
  background: rgba(13, 186, 255, 0.5);
}

.right-col {
  float: right;
  width: 370px;

  /* для оформления схемы */
  background: rgba(13, 186, 255, 0.5);
}


.small-img {
  display: inline-block;
  width: 140px;
  /* почему-то не задает отступ у второго изображения */
  margin-right: 17px; 
  vertical-align: top;

  background: rgba(215, 127, 173, 0.4);
}

.small-img:nth-of-type(3n) {
  margin-right: 0px;
} 




/*------------ FOOTER ------------*/
.main-footer {
  padding-top: 60px;
  padding-bottom: 37px;

  /* для оформления схемы */
  background: rgba(255, 186, 255, 0.5);
}

.footer-contacts {
  float: left;
  width: 310px;
  padding: 0 10px;
  margin-right: 70px;

  /* для оформления схемы */
  background: rgba(255, 186, 255, 0.5);
}

.footer-social {
  float: left;
  width: 140px;
  padding: 0 10px;

  /* для оформления схемы */
  background: rgba(255, 186, 255, 0.5);
}

.footer-copyright {
  float: right;
  width: 140px;
  padding: 0 10px;

  /* для оформления схемы */
  background: rgba(255, 186, 255, 0.5);
}















